// this file has to be renamed to config.h before compile

// The keys you find in your Application -> Device setup in your TTN Console
// Fill these with the values from https://console.thethingsnetwork.org
// you have to use the right keys for the build target you plan to use

// Add keys for TTGO T-Beam Rev 1.0 here
#ifdef V1_0
    static PROGMEM u1_t NWKSKEY[16] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }; // LoRaWAN Network Session Key, MSB
    static PROGMEM u1_t APPSKEY[16] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }; // LoRaWAN App Session Key, MSB
    static const u4_t DEVADDR = 0x00000000; // LoRaWAN Device Address (HEX)
    // Port is used in TTN decoder
    #define TTN_PORT 1
#endif

// Add keys for TTGO T-Beam Rev 1.1 here
#ifdef V1_1
    static PROGMEM u1_t NWKSKEY[16] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }; // LoRaWAN Network Session Key, MSB
    static PROGMEM u1_t APPSKEY[16] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }; // LoRaWAN App Session Key, MSB
    static const u4_t DEVADDR = 0x00000000; // LoRaWAN Device Address (HEX)
    // Port is used in TTN decoder
    #define TTN_PORT 1
#endif

// Add keys for Heltec Wireless Stick here
#ifdef HELTEC_WS
    static PROGMEM u1_t NWKSKEY[16] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }; // LoRaWAN Network Session Key, MSB
    static PROGMEM u1_t APPSKEY[16] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }; // LoRaWAN App Session Key, MSB
    static const u4_t DEVADDR = 0x00000000; // LoRaWAN Device Address (HEX)
    // Port is used in TTN decoder
    #define TTN_PORT 1
#endif