// this file has to be renamed to config.h before compile


// Bord Revision uncomment below if you have Board revision 1.1
//#define V1_1

// Port is used in TTN decoder
#define TTN_PORT 1

// The keys you find in your Application -> Device setup in your TTN Console
// Fill these with the values from https://console.thethingsnetwork.org
static PROGMEM u1_t NWKSKEY[16] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }; // LoRaWAN Network Session Key, MSB
static PROGMEM u1_t APPSKEY[16] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }; // LoRaWAN App Session Key, MSB
static const u4_t DEVADDR = 0x00000000; // LoRaWAN Device Address (HEX)

